.blocklyTrash {
  filter: brightness(0);
  filter: contrast(5000%);
  opacity: 0.5 !important;
}

.blocklyZoom > image {
  filter: brightness(0);
  filter: contrast(5000%);
  opacity: 0.5 !important;
}

.blocklyToolboxDiv {
  padding: 0;
  width: 120px !important;
}

.blocklyToolboxCategory {
  margin: 0;
}

.blocklyTreeRow {
  padding: 8px 0;
  padding-top: 12px;
  height: initial;
}

.blocklyTreeLabel {
  margin-top: 0.5em;
  font-size: 0.9em !important;
}

.blocklyTreeRowContentContainer {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocklyEditableText {
  font-size: 1em !important;
}

.blocklyText {
  font-size: 0.9em !important ;
}
