/* Right Content Start */
.rightCard {
  background-color: var(--primary-white);
  padding: 1em 3em;
  margin: 0 1.5em 0 0;
  border-radius: 3em;
}

.rightCard__title {
  padding: 1.5em 0;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--secondary-grey);
}

.rightCard_subTitle {
  color: var(--secondary-grey);
  line-height: 200%;
}

.rightCard__editFields {
  padding: 1em 0;
  border-top: 1px solid var(--tertiary-grey);
  border-bottom: 1px solid var(--tertiary-grey);
}

.rightCard__editFields__editForm {
  margin: 3em 1.5em;
}

.rightCard__editFields__editForm__inputField {
  margin: 2em 0 1em;
  width: 90%;
}

.rightCard__editFields__editForm__changeLink {
  cursor: pointer;
  padding: 1em 1.5em 0;
  font-size: 0.9em;
  color: var(--tph-orange);
}

.rightCard__actionButtons {
  margin: 2em 0;
}

@media (max-width: 1024px) {
  .rightContentParentDiv {
    padding-left: 1em;
  }

  .rightCard__editFields__editForm__inputField {
    margin: 2em 0 1em;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .rightContentParentDiv {
    padding-left: 0em;
  }

  .rightCard {
    background-color: var(--primary-white);
    padding: 0 1em;
    margin: 0;
    border-radius: 0;
  }

  .rightCard__editFields__editForm {
    margin: 0;
  }
}
