.buttonFill {
  display: flex;
  align-items: center;
  font-size: 0.95em;
  padding: 0 1.5em;
  align-self: center;
  background-color: var(--primary-icon-background);
  border: none;
  outline: none;
  height: 36px;
  border-radius: 36px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.buttonFill:hover {
  background-color: var(--tph-light-purple);
  /* filter: contrast(200%); */
}

.buttonFill:focus {
  outline: 0;
}

.buttonOutline {
  display: flex;
  align-items: center;
  font-size: 0.95em;
  padding: 0 1.5em;
  align-self: center;
  background-color: transparent;
  border: 1px solid var(--primary-white) !important;
  border: none;
  outline: none;
  height: 36px;
  border-radius: 36px;
  color: var(--primary-white);
  cursor: pointer;
  transition: 0.2s;
}

.buttonOutline:hover {
  color: var(--tph-light-gold);
  border: 1px solid var(--tph-light-gold) !important;
}

.buttonOutline:focus {
  outline: 0;
}

.iconSelf {
  font-size: 0.9em;
  margin-right: 1em;
}

.active {
  color: var(--tph-purple);
  background-color: var(--primary-white);
}

@media (max-width: 767px) {
  .buttonFill {
    width: 100%;
  }

  .buttonOutline {
    width: 100%;
  }
}
