.card {
  background-color: var(--primary-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card:hover {
  transform: scale(1.15);
}

.card:hover .pencil__icon{
  display: none;
}

.card:hover .card__save{
  display: none;
}

.card:hover .card__edit, .card:hover .card__delete{
  display: flex !important;
}

.card__bg {
  padding: 1.5em;
  background-image: url("../../Images/created-project-card-bg.svg");
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-position: center;
  background-size: cover;
  background-color: rgba(95, 81, 96, 0.9);
  text-align: center;
  height: 17em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.card__bg__vector {
  height: 10em;
  margin-top: 1.5em;
}

.card__bg__header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  color: var(--primary-white);
  padding: 1em 0 0;
}

.card__bg__header__title {
  line-height: 200%;
  width: 10em;
}

.card__bg__header__time {
  line-height: 200%;
  font-size: 0.9em;
  color: var(--tertiary-white);
}


.card__edit, .card__delete, .card__save {
  width: 34px;
  height: 34px;
  background-color: var(--primary-black);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__edit__delete {
  position: relative;
  top: -90%;
  left: 85%;
}

.card__delete {
  margin-top: 0.5em;
}

.card__body {
  padding: 2em 1em;
}

.card__body__title {
  color: #2d2d2d;
  font-weight: bold;
  display: flex;
}

.card__body__time {
  margin-top: 0.5em;
  font-weight: bold;
  color: #808080;
}

.card__body__profileImg {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5em;
}

.card__body__age {
  color: var(--tph-orange);
}

.pencil__icon {
  margin-right: 0.5em;
}

.card__body__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
